<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue.js组件</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <style>
        [v-clock] {
            display: none;
        }

        #app {
            width: 600px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
<div v-cloak id="app" class="container">
    <parent></parent>

    <child></child>
</div>
<script src="../../js/vue.js"></script>
<script>
    //1、创建子组件构造器
    let child1 = Vue.extend({
        template: `<img src="../../img/img_01.jpg" width="200">`
    });

    let child2 = Vue.extend({
        template: `<p>我认为自己很美！！！</p>`
    });

    Vue.component("child",child1);

    //2、父组件
    Vue.component("parent",{
        components: {
            'my-child1': child1,
            'my-child2': child2
        },
        template: `
            <div>
                <my-child1></my-child1>
                <my-child2></my-child2>
            </div>
        `
    });
    
    new Vue({
        el: '#app',
    });
</script>
</body>
</html>