<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue.js组件</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <style>
        [v-clock] {
            display: none;
        }

        #app {
            width: 600px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
<div v-cloak id="app" class="container">
    <my-date></my-date>
    <my-color></my-color>
</div>
<div v-cloak id="app1" class="container">
    <my-date></my-date>
    <my-color></my-color>
</div>
<script src="../../js/vue.js"></script>
<script>
    //1、创建组件构造器
    let profile = Vue.extend({
        template: `
            <div>
                <input type="date">
                <p>今天已经是冬天了！！！</p>
            </div>
        `
    });

    let profile1 = Vue.extend({
        template: `
            <div>
                <input type="color">
                <p>我是一个色板！！！</p>
            </div>
        `
    });

    //2、注册一个全局组件
    Vue.component("my-date",profile);

    new Vue({
        el: '#app',
        //用于创建局部组件
        components:{
            'my-color': profile1
        }
    });
    new Vue({
        el: '#app1',
    })
</script>
</body>
</html>